*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(29, 9, 9);
    background-color: rgb(55, 250, 38);

    
}

h1{
    color: rgb(126, 126, 126);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 10px 0px;
    filter: brightness(200%);
    text-shadow: 0 0 13px rgb(153, 17, 17);
    
}
.container{

 display: flex;
 flex-direction: row;
 gap: 20px;
 flex-wrap: wrap;
 justify-content: center;
 margin: 30px 10px;
    
   
}

.img{
    width: 280px;
    height: 280px;
    border: 2px solid rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 8px white;
    filter: blur(3px) opacity(30%) grayscale(100%);
    transition: 0.3s;
    
    
    

}

img{
    width: 280px;
    height: 280px;
    object-fit:cover;

    
    

}

.img:hover{
    transform: scale(1.15);
    filter: blur(0) saturate(120%);
    box-shadow: 0 0 20px rgb(153, 17, 17);
    
    

}

--------------------------------------------------------------------------------------------------------------------------------



.ppp{
    width: 50px;
    display: none;
    border-radius: 10px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(226, 226, 226);
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
    
}

a{
    text-decoration: none;
    color: rgb(14, 14, 14);
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container2{
    width: 800px;
    height: 600px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    background-color: rgb(7, 187, 7);
    justify-content: start;
    align-items: center;
}

.box{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    background-color: brown;
}
